.gallery {
  background-image: linear-gradient(
    to bottom,
    #FFF5F6 37%,
    #FFFFFF 37%,
    #FFFFFF 80%);

  &__wrapper{
    padding-top: 60px;
    max-width: 767px;
    display: flex;

    @include for-tablet-up {
      padding-top: 64px;
      max-width: 768px;
    }

    @include for-desktop-up {
      padding-top: 120px;
      max-width: 1013px;
    }
  }

  &__item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__item-wrapper + &__item-wrapper {
    margin-left: 2.5px;

    @include for-tablet-up {
       margin-left: 6px;
    }

    @include for-desktop-up {
      margin-left: 8px;
    }
  }
  
  &__img {
    border-radius: 8px;
    overflow: hidden;

    @include for-tablet-up {
      border-radius: 20px;
    }
  }

  &__img:nth-child(2n) {
    margin-top: 2.5px;
    
      @include for-tablet-up {
        margin-top: 6px;
      }
    
      @include for-desktop-up {
        margin-top: 8px;
      }
  }
  
}
.half-fill {
  max-width: 50%;
}
.shift-bottom-1 {
  margin-bottom: 1%;
}

.shift-top-7 {
  margin-top: 7%;
}

.shift-top-12 {
  margin-top: 12%;
}

.shift-bottom-6 {
  margin-bottom: 6%;
}

.shift-top-5 {
  margin-top: 5%;
}