// .gr__wrapper {
//   width: 300px;
//   height: 300px;
//   display: block;
// }

//
//
//
.gr-backdrop {
  padding: 5%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;

  visibility: visible;
  opacity: 1;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.5);

  transition: opacity var(--transition-duration-function),
    visibility var(--transition-duration-function);

  &.gr-is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal-gr {
  margin: 0 auto;
  padding: 40px;
  width: 100%;
  max-width: 450px;
  overflow: auto;
  transform: scale(1);
  transition: transform var(--transition-duration-function);
  border-radius: 20px;

  @include for-tablet-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  text-align: center;
  padding: 40px;
  background-color: var(--bg-modal-color);

  .gr-backdrop.gr-is-hidden & {
    transform: scale(0.8);

    @include for-tablet-up {
      transform: translate(-50%, -50%) scale(0.8);
    }
  }

  &__button-close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 4px;
    border: none;
    background: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    color: var(--text-secondary-color);

    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    margin-bottom: 25px;
  }

  &__wrapper {
    margin-bottom: 15px;
  }
}

.clip {
  animation: slide 14s infinite;

  .gr-backdrop.gr-is-hidden & {
    animation: none;
  }
}

@keyframes slide {
  from {
    transform: translateY(-135px);
  }
  50% {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(-135px);
  }
}
