.link {
  text-decoration: none;
  font-style: normal;
  color: inherit;
  transition: color var(--transition-duration-function);

  &:hover {
    color: var(--accent-color);
  }
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.spacer {
  height: 6px;
  background-color: var(--bg-third-color);

  @include for-tablet-up {
    height: 30px;
  }

  @include for-desktop-up {
    height: 35px;
  }
}

.header {
  position: relative;
  background-color: var(--bg-third-color);

  &__inner {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100%;
    gap: 32px;
    overflow: auto;

    @include for-desktop-up {
      gap: 20px;
    }
  }

  &__nav {
    display: none;
    @include for-desktop-up {
      display: flex;
      margin: 0 auto;
    }
  }

  &__nav-list {
    flex-direction: row;
  }

  &__nav-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.32;
    color: var(--text-secondary-color);
    padding: 13px 17px;
    border: none;
  }

  // "buy now" кнопка в главном меню
  &__button {
    display: none;

    @include for-tablet-up {
      display: flex;
    }
  }

  // кнопка мобильного меню "burger"
  &__button-open {
    margin-left: auto;
    position: relative;
    padding: 4px;
    border: none;
    background: none;
    cursor: pointer;
    width: 28px;
    height: 20px;
    display: flex;
    align-items: center;

    @include for-desktop-up {
      display: none;
    }
  }

  // иконка мобильного меню "бургер"
  &__icon-open {
    width: 20px;
    height: 1px;
    background-color: var(--accent-color);

    &::before,
    &::after {
      content: '';
      width: 20px;
      height: 1px;
      position: absolute;
      left: 0;
      background-color: inherit;
    }
    &::before {
      top: 4px;
      left: 4px;
    }
    &::after {
      left: 4px;
      bottom: 4px;
    }
  }
}
