.products-text {
  margin: 0;
  padding: 0;
}

.products-title {
  font-weight: 400;
  font-family: var(--secondary-font);
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 0;
}

.products {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  text-align: center;
  background-color: var(--bg-six-color);

  &__span {
    color: var(--text-fourth-color);
    font-size: 18px;
    line-height: 1.16;

    @include for-tablet-up {
      font-size: 26px;
      line-height: 1.15;
    }

    @include for-desktop-up {
      font-size: 30px;
      line-height: 1.13;
    }
  }

  &__title-main {
    color: var(--text-third-color);
    margin-bottom: 148px;
    margin-top: 15px;
    font-size: 34px;

    @include for-tablet-up {
      margin-top: 18px;
      margin-bottom: 150px;
      font-size: 48px;
    }

    @include for-desktop-up {
      margin-top: 16px;
      margin-bottom: 281px;
      font-size: 58px;
      letter-spacing: 0.06em;
    }
  }
}

// products-list

.products-list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--text-secondary-color);
  display: flex;

  @include for-phone-only {
    flex-direction: column;
    gap: 140px;
  }

  @include for-tablet-up {
    margin: 8px;
  }

  @include for-desktop-up {
    margin: -16px;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 70px;

    @include for-desktop-up {
      font-size: 30px;
      line-height: 1.13;
    }
  }

  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    padding-left: 41px;
    padding-right: 39px;
    margin-bottom: 32px;
    letter-spacing: 0.04em;

    @include for-tablet-up {
      padding-left: 32px;
      padding-right: 32px;
    }

    @include for-desktop-up {
      padding-left: 64px;
      padding-right: 63px;
      margin-bottom: 60px;
      font-size: 16px;
    }
  }

  &__item {
    border-radius: 24px;
    padding-bottom: 40px;
    padding-top: 160px;
    position: relative;

    &:first-child {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      background-color: var(--bg-third-color);
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 280px;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url(../images/ice-cream-280px.png);

        @include for-pixel-ratio-2 {
          background-image: url(../images/ice-cream-280px@2.png);
        }

        @include for-tablet-up {
          background-image: url(../images/ice-cream-224px.png);
          height: 224px;
          transform: translateY(-60%);

          @include for-pixel-ratio-2 {
            background-image: url(../images/ice-cream-224px@2.png);
          }
        }

        @include for-desktop-up {
          background-image: url(../images/ice-cream-368px.png);
          height: 394px;
          transform: translateY(-65%);

          @include for-pixel-ratio-2 {
            background-image: url(../images/ice-cream-368px@2.png);
          }
        }
      }
    }

    &:nth-child(2) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      background-color: var(--bg-fourth-color);
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 280px;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url(../images/ice-coffee-280px.png);

        @include for-pixel-ratio-2 {
          background-image: url(../images/ice-coffee-280px@2.png);
        }

        @include for-tablet-up {
          background-image: url(../images/ice-coffee-224px.png);
          height: 224px;
          transform: translateY(-60%);

          @include for-pixel-ratio-2 {
            background-image: url(../images/ice-coffee-224px@2.png);
          }
        }

        @include for-desktop-up {
          background-image: url(../images/ice-coffe-368px.png);
          height: 394px;
          transform: translateY(-65%);

          @include for-pixel-ratio-2 {
            background-image: url(../images/ice-coffe-368px@2.png);
          }
        }
      }
    }

    &:last-child {
      background-color: var(--bg-fifth-color);

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 280px;

        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url(../images/milkshakes-280px.png);

        @include for-pixel-ratio-2 {
          background-image: url(../images/milkshakes-280px@2.png);
        }

        @include for-tablet-up {
          background-image: url(../images/milkshakes-224px.png);
          height: 224px;
          transform: translateY(-60%);

          @include for-pixel-ratio-2 {
            background-image: url(../images/milkshakes-224px@2.png);
          }
        }

        @include for-desktop-up {
          background-image: url(../images/milkshakes-368px.png);
          height: 394px;
          transform: translateY(-65%);

          @include for-pixel-ratio-2 {
            background-image: url(../images/milkshakes-368px@2.png);
          }
        }
      }
    }

    @include for-tablet-up {
      padding-top: 118px;
      margin: 8px;
      padding-bottom: 60px;
    }

    @include for-desktop-up {
      margin: 16px;
      padding-top: 165px;
    }
  }
}

.products-button {
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--text-secondary-color);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  &__icon {
    fill: var(--text-third-color);
  }
}
