h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
html {
  overflow: auto;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  color: var(--text-primary-color);
  background-color: var(--bg-primary-color);

  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
}
