<section class="advantages" id="advantages">
  <div class="container">
    <!--  -->
    advantages
    <!-- <button class="btn-small" type="button">Products</button>
    <button class="btn-small btn-small--white" type="button">How it’s made?</button>


    <button class="button button--red" type="button">Our Locations
      <svg class="button__icon" width="20" height="20">
        <use href="./images/svg/symbol-defs.svg#icon-single-right"></use>
      </svg>
    </button>

      <button class="button button--white" type="button">Franchise
        <svg class="button__icon" width="20" height="20">
          <use href="./images/svg/symbol-defs.svg#icon-single-right"></use>
        </svg>
      </button> -->
    <!--  -->
  </div>
</section>
