<footer class="footer">
  <div class="container">
    <h1 class="visually-hidden">footer</h1>

    <div class="footer__content">
      <div class="footer__block-text">
        <ul class="list">
          <li>
            <p class="footer__not-big-text">homemade ice cream made</p>
          </li>
          <li>
            <p class="footer__big-text">with passion</p>
          </li>
        </ul>
      </div>

      <div class="footer__contact">
        <ul class="list footet__social-list">
          <li>
            <a class="footer__social-link" href="#" target="_blank">
              <svg class="icon-github">
                <use href="./images/svg/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
          </li>

          <li>
            <a class="footer__social-link" href="#" target="_blank">
              <svg class="icon-telegram">
                <use href="./images/svg/symbol-defs.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>

          <li>
            <a class="footer__social-link" href="#" target="_blank">
              <svg class="icon-facebook">
                <use href="./images/svg/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="footer__text-tel">
          Feel free to contact
          <a class="link" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
        </p>
      </div>
    </div>
    <div></div>
    <p class="footer__down-text">© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
