<section class="gallery">
  <div class="gallery__wrapper container">
    <h2 class="visually-hidden">gallery</h2>
    <div class="gallery__item-wrapper">
      <img class="gallery__img shift-bottom-1" 
        srcset="
        ./images/jpg/product-photo-1_44.jpg   44w,
        ./images/jpg/product-photo-1_88.jpg   88w,
        ./images/jpg/product-photo-1_105.jpg 105w,
        ./images/jpg/product-photo-1_138.jpg 138w,
        ./images/jpg/product-photo-1_210.jpg 210w,
        ./images/jpg/product-photo-1_276.jpg 276w
        "
        loading="lazy" 
        src="./images/jpg/product-photo-1_105.jpg" 
        alt="Фото морозива в дерев'яному посуді"
        sizes="14vw"
      />
    </div>
    <div class="gallery__item-wrapper">
      <img class="gallery__img shift-top-7" 
        srcset="
        ./images/jpg/product-photo-2_44.jpg   44w,
        ./images/jpg/product-photo-2_88.jpg   88w,
        ./images/jpg/product-photo-2_106.jpg 106w,
        ./images/jpg/product-photo-2_138.jpg 138w,
        ./images/jpg/product-photo-2_210.jpg 210w,
        ./images/jpg/product-photo-2_276.jpg 276w
        " 
        loading="lazy" 
        src="./images/jpg/product-photo-2_106.jpg" 
        alt="Фото морозива в ріжку"
        sizes="14vw" 
        />
      <img class="gallery__img" 
        srcset="
        ./images/jpg/product-photo-3_44.jpg   44w,
        ./images/jpg/product-photo-3_88.jpg   88w,
        ./images/jpg/product-photo-3_106.jpg 106w,
        ./images/jpg/product-photo-3_138.jpg 138w,
        ./images/jpg/product-photo-3_210.jpg 210w,
        ./images/jpg/product-photo-3_276.jpg 276w
        " 
        loading="lazy" 
        src="./images/jpg/product-photo-3_106.jpg" 
        alt="Фото шести порцій морозива на паличці"
        sizes="14vw" 
      />
    </div>
    <div class="gallery__item-wrapper">
      <img class="gallery__img" 
      srcset="
        ./images/jpg/product-photo-4_90.jpg   90w,
        ./images/jpg/product-photo-4_180.jpg 180w,
        ./images/jpg/product-photo-4_215.jpg 215w,
        ./images/jpg/product-photo-4_283.jpg 283w,
        ./images/jpg/product-photo-4_430.jpg 430w,
        ./images/jpg/product-photo-4_566.jpg 566w
        " 
        loading="lazy" 
        src="./images/jpg/product-photo-4_215.jpg"
        alt="Фото восьми ріжків морозива"
        sizes="28vw" 
      />
      <img class="gallery__img half-fill" 
        srcset="
        ./images/jpg/product-photo-5_44.jpg   44w,
        ./images/jpg/product-photo-5_88.jpg   88w,
        ./images/jpg/product-photo-5_106.jpg 106w,
        ./images/jpg/product-photo-5_138.jpg 138w,
        ./images/jpg/product-photo-5_211.jpg 211w,
        ./images/jpg/product-photo-5_276.jpg 276w
        " 
        loading="lazy" 
        src="./images/jpg/product-photo-5_106.jpg" 
        alt="Фото дівчини з морозивом"
        sizes="14vw" 
      />
    </div>
    <div class="gallery__item-wrapper">
      <img class="gallery__img shift-top-12" 
        srcset="
        ./images/jpg/product-photo-6_44.jpg   44w,
        ./images/jpg/product-photo-6_88.jpg   88w,
        ./images/jpg/product-photo-6_106.jpg 106w,
        ./images/jpg/product-photo-6_138.jpg 138w,
        ./images/jpg/product-photo-6_211.jpg 211w,
        ./images/jpg/product-photo-6_276.jpg 276w
        " 
        loading="lazy" 
        src="./images/jpg/product-photo-6_106.jpg" 
        alt="Фото трьох порцій морозива в скляному посуді" 
        sizes="14vw" 
      />
      <img class="gallery__img" 
        srcset="
        ./images/jpg/product-photo-7_44.jpg   44w,
        ./images/jpg/product-photo-7_88.jpg   88w,
        ./images/jpg/product-photo-7_105.jpg 105w,
        ./images/jpg/product-photo-7_138.jpg 138w,
        ./images/jpg/product-photo-7_210.jpg 210w,
        ./images/jpg/product-photo-7_276.jpg 276w
        " 
        loading="lazy" 
        src="./images/jpg/product-photo-7_105.jpg" 
        alt="Фото морозива в ріжку на фоні вулиці" 
        sizes="14vw" 
      />
    </div>
    <div class="gallery__item-wrapper">
      <img class="gallery__img" 
        srcset="
        ./images/jpg/product-photo-8_44.jpg   44w,
        ./images/jpg/product-photo-8_88.jpg   88w,
        ./images/jpg/product-photo-8_106.jpg 106w,
        ./images/jpg/product-photo-8_138.jpg 138w,
        ./images/jpg/product-photo-8_210.jpg 210w,
        ./images/jpg/product-photo-8_276.jpg 276w
        " 
        loading="lazy" 
        src="./images/jpg/product-photo-8_106.jpg" 
        alt="Фото пса, який лиже морозиво"
        sizes="14vw" 
      />
      <img class="gallery__img shift-bottom-6" 
        srcset="
        ./images/jpg/product-photo-9_44.jpg   44w,
        ./images/jpg/product-photo-9_88.jpg   88w,
        ./images/jpg/product-photo-9_106.jpg 105w,
        ./images/jpg/product-photo-9_138.jpg 138w,
        ./images/jpg/product-photo-9_210.jpg 210w,
        ./images/jpg/product-photo-9_276.jpg 276w
        " 
        loading="lazy" 
        src="./images/jpg/product-photo-9_106.jpg" 
        alt="Фото молочного коктеля в стакані"
        sizes="14vw" 
      />
    </div>
    <div class="gallery__item-wrapper">
      <img class="gallery__img shift-top-5" 
        srcset="
        ./images/jpg/product-photo-10_44.jpg   44w,
        ./images/jpg/product-photo-10_88.jpg   88w,
        ./images/jpg/product-photo-10_105.jpg 105w,
        ./images/jpg/product-photo-10_138.jpg 138w,
        ./images/jpg/product-photo-10_210.jpg 210w,
        ./images/jpg/product-photo-10_276.jpg 276w
        " 
        loading="lazy" 
        src="./images/jpg/product-photo-10_105.jpg" 
        alt="Фото молока в банці з пончиком"
        sizes="14vw" 
      />
    </div>
  </div>
</section>
