<div class="spacer" id="home"></div>
<header class="header" id="header">
  <div class="container">
    <div class="header__inner">
      <a
        class="link header__logo"
        href="./index.html"
        title="IceCream - made with passion"
        aria-label="link to IceCream webpage"
      >
        <img
          src="./images/logo.svg"
          alt="IceCream company logo"
          width="199px"
          height="50px"
        />
      </a>
      <nav class="header__nav">
        <ul class="list header__nav-list">
          <a href="#home" class="link header__nav-link">Home</a>
          <a href="#advantages" class="link header__nav-link">About us</a>
          <a href="#about" class="link header__nav-link">How it’s made?</a>
          <a href="#products" class="link header__nav-link">Our products</a>
          <a href="#contacts" class="link header__nav-link">Contact</a>
        </ul>
      </nav>
      <button
        class="header__button-open"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
        aria-label="Open mobile menu"
        data-menu-button-open
      >
        <span class="header__icon-open"></span>
      </button>
      <button
        type="button"
        class="button header__button"
        aria-label="Button Buy now"
      >
        <span>Buy now</span>
        <!-- <svg class="button__icon" width="8px" height="11px">
          <use href="./images/sprite.svg#icon-button"></use>
        </svg> -->
      </button>
    </div>
  </div>
</header>
