<section class="hero">
  <h1 class="hero__title">ice cream made with <span class="hero__word">passion</span></h1>
  <div class="hero__buttons">
    <button 
    class="button__red"
    type="button"
    href="#Products">Products</button>
    <button 
    class="button"
    type="button"
    href="#How it's made?">
      How it’s made?
    </button>
  </div>
  <picture>
    <source
      media="(min-width: 1200px)"
      srcset="./img-hero/milk@1des.png 1x,
      ./img-hero/milk@2des.png 2x"/>
    <source
      media="(min-width: 1200px)"
      srcset="./img-hero/milk@1des.webp 1x,
      ./img-hero/milk@2des.webp 2x"
      type="image/webp"/>

    <source
      media="(min-width: 768px)"
      srcset="./img-hero/milk@1tab.png 1x,
      ./img-hero/milk@2tab.png 2x"/>
    <source
      media="(min-width: 768px)"
      srcset="./img-hero/milk@1tab.webp 1x,
      ./img-hero/milk@2tab.webp 2x"
      type="image/webp"/>
  </picture>
  <img src="./img-hero/milk-standart.png" alt="Кувшин с молоком">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
  <button>
    <svg width="26" height="26">
      <use></use>
    </svg>
  </button>
  <picture>
    <source
        media="(min-width: 320px)"
        srcset="./img-hero/ice-cream@1mob.png 1x,
        ./img-hero/ice-cream@2mob.png 2x"/>
      <source
        media="(min-width: 320px)"
        srcset="./img-hero/ice-cream@1mob.webp 1x,
        ./img-hero/ice-cream@2mob.webp 2x"
        type="image/webp"/>

      <source
        media="(min-width: 767px)"
        srcset="./img-hero/ice-cream@1tab.png 1x,
        ./img-hero/ice-cream@2tab.png 2x"/>
      <source
        media="(min-width: 767px)"
        srcset="./img-hero/ice-cream@1tab.webp 1x,
        ./img-hero/ice-cream@2tab.webp 2x"
        type="image/webp"/>

      <source
        media="(min-width: 1200px)"
        srcset="./img-hero/ice-cream@1des.png 1x,
        ./img-hero/ice-cream@2des.png 2x">
      <source
        media="(min-width: 1200px)"
        srcset="./img-hero/ice-cream@1des.webp 1x,
        ./img-hero/ice-cream@2des.webp 2x"
        type="image/webp"/>
  </picture>
  <img src="./img-hero/ice-cream-standart.png" alt="Мороженное рожок">
  <picture>
    <source
      media="(min-width: 768px"
      srcset="./img-hero/girl@1tab.png 1x,
      ./img-hero/girl@2tab.png 2x"/>
    <source
      media="(min-width: 768px"
      srcset="./img-hero/girl@1tab.webp 1x,
      ./img-hero/girl@2tab.webp 2x"
      type="image/webp"/>

    <source
      media="(min-width: 1200px"
      srcset="./img-hero/girl@1des.png 1x,
      ./img-hero/girl@2des.png 2x"/>
    <source
      media="(min-width: 1200px"
      srcset="./img-hero/girl@1des.webp 1x,
      ./img-hero/girl@2des.webp 2x"
      type="image/webp"/>
  </picture>
  <img src="./img-hero/girl-standart.png" alt="Девушка с мороженым">
  <div>16</div>
  <div>23</div>
</section>