<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title" data-aos="fade-up" data-aos-duration="3000">
      ice cream made with
      <span class="hero__word" data-aos="fade-up" data-aos-duration="3000"
        >passion</span
      >
    </h1>
    <div class="hero__buttons">
      <a class="link btn-small" href="#products">Products</a>
      <a class="link btn-small btn-small--white" href="#about">
        How it’s made?
      </a>
    </div>
    <picture>
      <source
        media="(max-width: 1199px)"
        srcset="
          ./images/img-hero/milk@1tab.webp 1x,
          ./images/img-hero/milk@2tab.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(max-width: 1199px)"
        srcset="
          ./images/img-hero/milk@1tab.png 1x,
          ./images/img-hero/milk@2tab.png 2x
        "
      />
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/img-hero/milk@1des.webp 1x,
          ./images/img-hero/milk@2des.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/img-hero/milk@1des.png 1x,
          ./images/img-hero/milk@2des.png 2x
        "
      />
      <img
        src="./images/img-hero/milk-standart.png"
        alt="Кувшин с молоком"
        class="hero__milk"
      />
    </picture>
    <div class="hero__box">
      <p class="hero__paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <div class="hero__overlay" hero-card>
        <p class="overlay__paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sequi,
          animi modi maiores eos .
        </p>
      </div>
      <button class="hero__button" type="button" data-hero-btn>
        <svg class="hero__button-icon" width="12" height="12">
          <use href="./images/svg/symbol-defs.svg#icon-arrow-forward"></use>
        </svg>
      </button>
    </div>
    <picture>
      <source
        media="(max-width: 320px)"
        srcset="
          ./images/img-hero/ice-cream@1mob.webp 1x,
          ./images/img-hero/ice-cream@2mob.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(max-width: 320px)"
        srcset="
          ./images/img-hero/ice-cream@1mob.png 1x,
          ./images/img-hero/ice-cream@2mob.png 2x
        "
      />
      <source
        media="(max-width: 1199px)"
        srcset="
          ./images/img-hero/ice-cream@1tab.webp 1x,
          ./images/img-hero/ice-cream@2tab.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(max-width: 1199px)"
        srcset="
          ./images/img-hero/ice-cream@1tab.png 1x,
          ./images/img-hero/ice-cream@2tab.png 2x
        "
      />
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/img-hero/ice-cream@1des.webp 1x,
          ./images/img-hero/ice-cream@2des.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/img-hero/ice-cream@1des.png 1x,
          ./images/img-hero/ice-cream@2des.png 2x
        "
      />
      <img
        src="./images/img-hero/ice-cream-standart.png"
        alt="Мороженное рожок"
        class="hero__ice-cream"
      />
    </picture>

    <picture>
      <source
        media="(max-width: 1199px)"
        srcset="
          ./images/img-hero/girl@1tab.png 1x,
          ./images/img-hero/girl@2tab.png 2x
        "
      />
      <source
        media="(max-width: 1199px)"
        srcset="
          ./images/img-hero/girl@1tab.webp 1x,
          ./images/img-hero/girl@2tab.webp 2x
        "
        type="image/webp"
      />

      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/img-hero/girl@1des.webp 1x,
          ./images/img-hero/girl@2des.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/img-hero/girl@1des.png 1x,
          ./images/img-hero/girl@2des.png 2x
        "
      />

      <img
        src="./images/img-hero/girl-standart.png"
        alt="Девушка с мороженым"
        class="hero__girl"
      />
    </picture>
    <div class="hero__numbers">
      <div class="numbers">
        16
        <div class="numbers__after"></div>
        <div class="numbers__title">cafes</div>
      </div>
      <div class="numbers__second">
        23
        <div class="numbers__after-two"></div>
        <div class="numbers__title">food trucks</div>
      </div>
    </div>
  </div>
</section>
