<div class="map-backdrop map-is-hidden" data-modal-map>
  <div class="modal-map">
    <button
      class="modal-map__button-close"
      type="button"
      aria-label="Button close map"
      data-modal-close-map
    >
      <svg class="button__icon" width="14px" height="14px" aria-hidden="true">
        <use href="./images/svg/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>

    <iframe
      class="map"
      src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d10162.215788780391!2d30.51534864350809!3d50.44940857766997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sicecream!5e0!3m2!1sru!2sua!4v1660414486546!5m2!1sru!2sua"
      width="800"
      height="600"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
