<div class="about-backdrop about-is-hidden" data-modal-about>
<div class="modal-about">
    <button
    class="modal-about__button-close"
    type="button"
    aria-label="Button close about"
    data-modal-close-about
  >
    <svg class="about__modal-icon" width="14px" height="14px" aria-hidden="true">
      <use href="./images/svg/symbol-defs.svg#icon-close"></use>
    </svg>
  </button>
  <div class="ice-card">
    <ul class="ice-card__list list">
      <li class="ice-card__item">
        <img class="ice-card__pic" src="./images/about/cow-modal.png" alt="cow" />
        <p class="ice-card__text" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, sapiente?</p>
      </li>
      <li class="ice-card__item">
        <img class="ice-card__pic" src="./images/about/milk-modal.png" alt="milk" />
        <p class="ice-card__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore nostrum iste assumenda?
        </p>
      </li>
      <li class="ice-card__item">
        <img class="ice-card__pic" src="./images/about/lab-modal.png" alt="laboratory" />
        <p class="ice-card__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, neque. Culpa facilis illum itaque cum.</p>
      </li>
      <li class="ice-card__item">
        <img class="ice-card__pic" src="./images/about/ice-modal.png" alt="ice-cream" />
        <p class="ice-card__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit!!!</p>
      </li>
    </ul>
  </div>
    <!-- <img loading="lazy" src="./images/about/cow-1x.png" alt="cow" /> -->

</div>
</div>