<section class="products" id="products">
  <div class="container">
    <!-- заголовок секції -->
    <span class="products__span products-title">100% natural</span>
    <h2 class="products__title-main products-title">products</h2>
    <!-- контент -->
    <ul class="products-list list-products">
      <li class="products-list__item">
        <h3 class="products-list__title products-title">ice cream</h3>
        <p class="products-list__text products-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products-button" type="button">
          <svg class="products-button__icon" width="15" height="15">
            <use href="./images/svg/symbol-defs.svg#icon-arrow-forward"></use>
          </svg>
        </button>
      </li>

      <li class="products-list__item">
        <h3 class="products-list__title products-title">ice coffee</h3>
        <p class="products-list__text products-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products-button" type="button">
          <svg class="products-button__icon" width="15" height="15">
            <use href="./images/svg/symbol-defs.svg#icon-arrow-forward"></use>
          </svg>
        </button>
      </li>

      <li class="products-list__item">
        <h3 class="products-list__title products-title">milkshakes</h3>
        <p class="products-list__text products-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products-button" type="button">
          <svg class="products-button__icon" width="15" height="15">
            <use href="./images/svg/symbol-defs.svg#icon-arrow-forward"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
