<section class="products" id="products">
  <div class="container">
    <!-- заголовок секції -->
    <span
      class="products__span products-title"
      data-aos="fade-up"
      data-aos-duration="3000"
      >100% natural</span
    >
    <h2
      class="products__title-main products-title"
      data-aos="fade-up"
      data-aos-duration="3000"
    >
      products
    </h2>
    <!-- контент -->
    <ul class="products-list list-products">
      <li class="products-list__item">
        <h3 class="products-list__title products-title">ice cream</h3>
        <svg class="products-list__icon" width="26" height="6">
          <use href="./images/svg/symbol-defs.svg#icon-points-white"></use>
        </svg>
        <p class="products-list__text products-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <div class="hiden-text-wrapper" data-card>
          <p class="products-list__text products-text hidden-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
            dolorem ut sed est repudiandae aut ipsum tempora enim? Eligendi,
            excepturi sint illo nesciunt rerum molestiae consequatur libero ipsa
            atque maxime!
          </p>
        </div>
        <button class="products-button" type="button" data-card-btn>
          <svg class="products-button__icon" width="15" height="15">
            <use href="./images/svg/symbol-defs.svg#icon-arrow-forward"></use>
          </svg>
        </button>
      </li>

      <li class="products-list__item">
        <h3 class="products-list__title products-title">ice coffee</h3>
        <svg class="products-list__icon" width="26" height="6">
          <use href="./images/svg/symbol-defs.svg#icon-points-white"></use>
        </svg>
        <p class="products-list__text products-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <div class="hiden-text-wrapper" data-card-2>
          <p class="text-open products-list__text products-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
            dolorem ut sed est repudiandae aut ipsum tempora enim? Eligendi,
            excepturi sint illo nesciunt rerum molestiae consequatur libero ipsa
            atque maxime!
          </p>
        </div>
        <button class="products-button" type="button" data-card-btn-2>
          <svg class="products-button__icon" width="15" height="15">
            <use href="./images/svg/symbol-defs.svg#icon-arrow-forward"></use>
          </svg>
        </button>
      </li>

      <li class="products-list__item">
        <h3 class="products-list__title products-title">milkshakes</h3>
        <svg class="products-list__icon" width="26" height="6">
          <use href="./images/svg/symbol-defs.svg#icon-points-white"></use>
        </svg>
        <p class="products-list__text products-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>

        <div class="hiden-text-wrapper" data-card-3>
          <p class="text-open products-list__text products-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
            dolorem ut sed est repudiandae aut ipsum tempora enim? Eligendi,
            excepturi sint illo nesciunt rerum molestiae consequatur libero ipsa
            atque maxime!
          </p>
        </div>
        <button class="products-button" type="button" data-card-btn-3>
          <svg class="products-button__icon" width="15" height="15">
            <use href="./images/svg/symbol-defs.svg#icon-arrow-forward"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
