<section class="reviews">
  <div class="container">
    <div class="reviews__slide">
      <div class="reviews__foto"></div>
      <div class="reviews__style">
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
          congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
      <ul class="reviews__deco">
        <li class="reviews__element list"></li>
        <li class="reviews__element list"></li>
        <li class="reviews__element list"></li>
      </ul>
      <p class="reviews__place">Emily, Los Angeles</p>
    </div>
    <ul class="slick-dots  list" role="tablist">
        <li role="presentation">
          <button class="current" type="button" role="tab" id="slick-slide-control00"
            aria-controls="slick-slide00" aria-label="1 of 3" tabindex="-1">
          </button>
        </li>
        <li class="slick-active" role="presentation">
          <button class="slick-dots__slide" type="button" role="tab" id="slick-slide-control01"
            aria-controls="slick-slide01" aria-label="2 of 3" tabindex="0" aria-selected="true">
          </button>
        </li>
        <li role="presentation">
          <button class="slick-dots__slide" type="button" role="tab" id="slick-slide-control02"
            aria-controls="slick-slide02" aria-label="3 of 3" tabindex="-1">
          </button>
        </li>
    </ul>
  </div>
</section>
