<section class="reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <div class="slider">
      <!-- slide 1 -->
      <div class="reviews__slides">
        <div class="reviews__foto">
          <img
            loading="lazy"
            srcset="
              ./images/reviews/testimonials1.jpg,
              ./images/reviews/testimonials1@2x.jpg 2x
            "
            src="./images/reviews/testimonials1.jpg"
            alt="Photo Emily"
          />
        </div>
        <div class="reviews__style">
          <p class="reviews__text">
            Quisque cursus et, porttitor risus. Nullam viverra consectetuer.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>

        <ul class="reviews__deco">
          <li class="reviews__element list"></li>
          <li class="reviews__element list"></li>
          <li class="reviews__element list"></li>
        </ul>
        <p class="reviews__place">Emily, Los Angeles</p>
      </div>

      <!-- slide 2 -->
      <div class="reviews__slides">
        <div class="reviews__foto">
          <img
            loading="lazy"
            srcset="
              ./images/reviews/testimonials2.jpg,
              ./images/reviews/testimonials2@2x.jpg 2x
            "
            src="./images/reviews/testimonials2.jpg"
            alt="Photo Ameli"
          />
        </div>
        <div class="reviews__style">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis.
          </p>
        </div>
        <ul class="reviews__deco">
          <li class="reviews__element list"></li>
          <li class="reviews__element list"></li>
          <li class="reviews__element list"></li>
        </ul>
        <p class="reviews__place">Ameli, Chicago</p>
      </div>

      <!-- slide 3 -->
      <div class="reviews__slides">
        <div class="reviews__foto">
          <img
            loading="lazy"
            srcset="
              ./images/reviews/testimonials3.jpg,
              ./images/reviews/testimonials3@2x.jpg 2x
            "
            src="./images/reviews/testimonials3.jpg"
            alt="Photo Emily"
          />
        </div>
        <div class="reviews__style">
          <p class="reviews__text">
            Aliquam sem. In hendrerit nulla facilis quasi tempore accusantium
            obcaecati rem atque nesciunt optio in? Nullam viverra consectetuer.
            Quisque cursus et, porttitor risus.
          </p>
        </div>
        <ul class="reviews__deco">
          <li class="reviews__element list"></li>
          <li class="reviews__element list"></li>
          <li class="reviews__element list"></li>
        </ul>
        <p class="reviews__place">Miki, New York</p>
      </div>
    </div>
  </div>
</section>
