// Иконка стрелочка для больших кнопок
// <svg class="button__icon" width="8" height="16"> <use href="./images/svg/symbol-defs.svg#icon-single-right"></use></svg>
//

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 0px 30px;
  min-width: 160px;
  text-align: center;
  border-radius: 22px;
  border: none;
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 44px;

  color: var(--accent-color);
  background-color: var(--bg-primary-color);
  transition: background-color var(--transition-duration-function);

  @include for-desktop-up {
    padding: 0px 35px;
    gap: 14px;
  }

  &__icon {
    fill: var(--accent-color);
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
    background: var(--btn-hover-bg-color);
  }

  // &:hover &__icon,
  // &:focus &__icon {
  //   fill: var(--accent-color);
  // }
}

.button--red {
  color: var(--text-secondary-color);
  background-color: var(--accent-color);

  .button__icon {
    fill: var(--text-secondary-color);
  }

  &:hover,
  &:focus {
    background: var(--btn-hover-bg-color);
    color: var(--accent-color);
  }

  &:hover .button__icon,
  &:focus .button__icon {
    fill: var(--accent-color);
  }
}

.btn-small {
  display: inline-block;
  padding: 7px 14px;
  min-width: 63px;
  color: var(--bg-primary-color);
  background-color: var(--accent-color);
  border-radius: 20px;
  font-family: inherit;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background: var(--btn-hover-bg-color);
    color: var(--accent-color);
  }

  @include for-desktop-up {
    padding: 11px 21px;
    min-width: 107px;
    font-size: 14px;
    line-height: 1.3;
  }

  &--white {
    color: var(--accent-color);
    background-color: var(--bg-primary-color);
    // &:hover,
    // &:focus {
    //     color: var(--accent-color);
    //     background: var(--btn-hover-bg-color);

    //   }
  }
}
