.container {
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;

  @include for-tablet-up {
    padding: 0 16px;
    max-width: 768px;
  }

  @include for-desktop-up {
    max-width: 1200px;
  }
}
